.location-marker-button {
  position: absolute; /* O también puedes usar fixed */
  z-index: 10; /* Asegúrate de que el botón se vea encima de otros elementos */
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 0;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* El ícono está invisible al principio */
  }
  100% {
    opacity: 1; /* El ícono se vuelve visible al final de la animación */
  }
}

.location-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.54px;
  letter-spacing: 0%;
  text-align: center;
  display: none;
}

.map-marker {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.map-marker:hover {
  transform: scale(1.2);
}

#nevadoHuila {
  position: absolute;
  top: 41vh;
  left: 5.2%;
  animation-delay: 0s;
}

#nevadoHuilaTitle {
  position: absolute;
  top: 35vh;
  left: 4.5%;
}

#paramoDeMoras {
  position: absolute;
  top: 40.5vh;
  left: 16.5%;
  animation-delay: 2s;
}

#paramoDeMorasTitle {
  position: absolute;
  top: 34.5vh;
  left: 15.5%;
}

#paramoHermosas {
  position: absolute;
  top: 61.5vh;
  left: 19.5%;
  animation-delay: 4s;
}

#paramoHermosasTitle {
  position: absolute;
  top: 58.5vh;
  left: 14.5%;
}

#cerroMunchique {
  position: absolute;
  top: 42.5vh;
  left: 26.5%;
  animation-delay: 6s;
}

#cerroMunchiqueTitle {
  position: absolute;
  top: 34.5vh;
  left: 25.5%;
}

#cerroTeta {
  position: absolute;
  top: 45vh;
  left: 35.8%;
  animation-delay: 8s;
}

#cerroTetaTitle {
  position: absolute;
  top: 42vh;
  left: 33.3%;
}

#villarica {
  position: absolute;
  top: 51vh;
  left: 37.2%;
  animation-delay: 10s;
}

#villaricaTitle {
  position: absolute;
  top: 49.2vh;
  left: 34.8%;
}

#salvajina {
  position: absolute;
  top: 44vh;
  left: 40.2%;
  animation-delay: 12s;
}

#salvajinaTitle {
  position: absolute;
  top: 39vh;
  left: 39.2%;
}

#suarez {
  position: absolute;
  top: 46vh;
  left: 43%;
  animation-delay: 16s;
}

#suarezTitle {
  position: absolute;
  top: 44vh;
  left: 44.5%;
}

#orienteDeCali {
  position: absolute;
  top: 57vh;
  left: 43%;
  animation-delay: 18s;
}

#orienteDeCaliTitle {
  position: absolute;
  top: 54vh;
  left: 36%;
}

#lagunaSonso {
  position: absolute;
  top: 76.5vh;
  left: 47.5%;
  animation-delay: 20s;
}

#lagunaSonsoTitle {
  position: absolute;
  top: 74.7vh;
  left: 41.5%;
}

#rioCauca {
  position: absolute;
  top: 85vh;
  left: 53.2%;
  animation-delay: 22s;
}

#rioCaucaTitle {
  position: absolute;
  top: 83vh;
  left: 55.2%;
}

#naturalMunchique {
  position: absolute;
  top: 36.5vh;
  left: 51.2%;
  animation-delay: 24s;
}

#naturalMunchiqueTitle {
  position: absolute;
  top: 33.5vh;
  left: 53.2%;
}

#losFarallones {
  position: absolute;
  top: 46vh;
  left: 52.3%;
  animation-delay: 26s;
}

#losFarallonesTitle {
  position: absolute;
  top: 41.5vh;
  left: 51.3%;
}

#lagoCalima {
  position: absolute;
  top: 69.5vh;
  left: 64.3%;
  animation-delay: 28s;
}

#lagoCalimaTitle {
  position: absolute;
  top: 65vh;
  left: 63.3%;
}

#buenaventura {
  position: absolute;
  top: 62vh;
  left: 93.3%;
  animation-delay: 30s;
}

#buenaventuraTitle {
  position: absolute;
  top: 60vh;
  left: 88.3%;
}

#purace {
  position: absolute;
  top: 30px;
  left: 30px;
  animation-delay: 32s;
}

#rio-cauca {
  transform: translate(-100%, 420%); /* Centra el botón en el punto dado */
}

#pacifico {
  transform: translate(1200%, 100%); /* Centra el botón en el punto dado */
}