/* ===================================================
   1. ESTILOS GENERALES DEL HEADER
=================================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100px;
    z-index: 1000; /* Por encima de otros elementos */
    display: flex;
    align-items: center;
    color: white;
  }
  
  /* Contenedor para icono y título */
  .header-left-group {
    display: inline-flex; /* Solo ocupa el ancho necesario */
    align-items: center;
    gap: 20px;
    position: relative; /* Permite usar ::after */
  }
  
  .header-left-group::after {
    content: "";
    position: absolute;
    bottom: 20px; /* Espaciado entre el texto y la línea */
    left: 0;
    width: 100%; /* Ocupa solo el ancho del contenido */
    height: 3px;
    background-image: linear-gradient(90deg, #46FF5E 0%, #33F7F7 100%);
    display: block;
    transition: width 0.4s ease-in-out; /* Suaviza la animación */
  }
  
  /* Icono de regreso */
  .header-back span {
    font-size: 36px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-left: 15px;
  }
  
  .header-back:hover span {
    color: #32CD32; /* Color verde al pasar el cursor */
  }
  
  .header-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header-title-bold {
    font-weight: bold;
  }
  
  .header-title-normal {
    font-weight: normal;
  }
  